

h1 {color:black;
    font-family: 'Lato', sans-serif;
    text-align: center;
}


body {background-image: url(imagens/viagem6.jpeg);
    font-family: 'Lato', sans-serif;
}

div {
    background-color: white;
    width: 500px;
    margin: auto;

;}

#tituloformulario {
    color:black;
}

.formulariodiv {
    background-color:white;
    color:black;

}

fieldset {
    border: none;
}


fieldset label {
    font-weight: 400;
}

input[type=text], [type=telephone], [type=link], [type=date] {
    transition: width 0.4s ease-in-out;
    width: 380px;
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    background-color: whitesmoke;
  }
  
  input:focus-visible {
      border: black 2px solid
  }

   
  select {
    width: 400px;
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    background-color: whitesmoke;
}

textarea {
    width: 50%;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}
